<template>
  <div class="hello" style="position:relative; bottom:60px">
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
    <center>
    <router-link to="/barang">
    <button type="button" class="btn btn-md btn-primary" style="position:relative; bottom:10px; right:390px;">back</button>
    </router-link>
    <h2>Data Barang</h2>
    <form @submit.prevent="submitForm">
    <table class="table table-hover table-striped" style="width:830px; border-bottom:1px solid lightgrey;" >
      <tr>
        <td><label>Nama Barang </label></td>
        <td><input type="text" v-model="barang.nama_barang"  class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Stok </label></td>
        <td><input type="text"  v-model="barang.stok" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Harga </label></td>
        <td><input type="text" v-model="barang.harga" class="form-control" required></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-lg btn-info" style="position:relative; left:360px;">Save</button>
    </form>
    </center>
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
    <p class="top-right"><b><i>@copyright Casey 2019</i></b></p>
  </div>
</template>
<script>
import {api} from '@/helper/api'

export default {
  name: 'BarangForm',
  data () {
    return {
      barang: {
        id: null,
        nama_barang: '',
        stok: '',
        harga: ''
      }
    }
  },
  mounted () {
    let id = this.$route.params.id

    if (id) {
      let url = 'http://localhost:8181/tugas_akhir/public/barang/'
      api.get(url + id).then(res => {
        this.barang = res.data.result
      })
    }
  },
  methods: {
    submitForm () {
      let data = this.barang
      let url = 'http://localhost:8181/tugas_akhir/public/barang'

      if (this.barang.id) {
        url += '/' + this.barang.id
      }

      api.post(url, data).then(res => {
        if (res.data.status === 'success') {
          this.$router.push('/barang')
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
